* {
    box-sizing: border-box;
}

body {

}

header {
    height: 100px;
    align-items: center;
}

.row {
    /* margin: 0px; */
}

#main-container {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#weather-search {
    margin: 10px;
}

.button-list{
    height: 100%;
}