* {
    box-sizing: border-box;
}

body {

}

header {
    height: 100px;
    align-items: center;
}

.row {
    margin: 0px;
}

.container-fluid {
    padding: 0px;
}

#main-container {
    width: 100%;
    margin: 10px;
    padding: 10px;
}
#search-side {
    /* text-align: center; */
}

#weather-side {
    padding-right: 2em;
    
}

#forecast-div {
    height: 30vh;
}

#city-data {
    height: 33vh;
    padding: 10px;
}

#fiveday-header {
    margin-top: 1em;
}

#search-form {
    height: 20vh;
}

#citysearch {
    margin-top: 1em;
    margin-bottom: 1em;
}

.btn {
    margin-top: .5em;
    width: 100%;
}

#button-div {
    height: 80vh;
}

.favorable {
    background-color: green;
    color: #fff;
}

.moderate {
    background-color: yellow;
    color: black;
}

.severe {
    background-color: red;
    color: black;
}